/*enlaces: font-family: 'Oswald', sans-serif;*/
/*textos: font-family: 'Montserrat', sans-serif;*/
 
 /* Navigation*/
 .navbar {
    background-color: transparent;
  }
  .scrolling-navbar {
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }
  .top-nav-collapse {
    background-color: #34456a;
  }
  footer.page-footer {
    background-color: #34456a;
  }
  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: #34456a;
    }
  }

  /* Necessary for full page carousel*/
  html,
  body,
  .view {
    height: 100vh;
  }

  /* Carousel*/
  .carousel,
  .carousel-item,
  .carousel-item.active {
    height: 100%;
  }
  .carousel-inner {
    height: 100%;
  }
  .carousel .carousel-item video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #navbar{
      margin-top: 30px;
      margin-right: 7%;
      /* display: grid;
      grid-template-columns: repeat(3, 1fr); */
      /* text-align: center; */
      text-align: right;
  }
  #navbar > a{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    padding: 5px;
    font-size: 20px;
    /* color: #420f3a; */
    color: aliceblue;
    text-shadow: 2px 2px 2px #fec051;
  }

  #mascara > img{
    display: none;
        width: 90%;
        height: 100vh;
        opacity:0.94;
        filter:alpha(opacity=40);
        filter: drop-shadow(0 4px 7px rgba(0, 0, 0, 0.7));
  }
  #carousel-example-2{
      position: relative;
  }
  #mascara{
      position: absolute;
      top: 0;
      z-index: 1000;
  }
  .aviso{
      position: absolute;
      top: 40px;
      z-index: 1001;
      
      margin-left: 5%;
      color: white;
      text-align: center;
      font-weight: 800;
      filter: drop-shadow(0 2px 5px #fec051 );
  }
  #frases{
      display: grid;
      grid-template-columns: minmax(300px, 1000px);
      padding-top: 150px;
      padding-left: 200px;
  }
  #frases > .frase > h1{
      font-size: 45px;
      margin-left: 20%;
      filter: drop-shadow(0 2px 5px #fec051 );
  }
  .logo > img{
      width: 50%;
      margin-left: 30%;
      filter: drop-shadow(0 2px 5px #030303cc );
  }

  /*==========NOSOTROS==========*/

.navbar {
  height: auto;
  background-color: #420f3a;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 5px 30px;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  left: 0;
}

.navbar > .enlace{
  grid-column: 3/4;
  margin-bottom: auto;
  margin-top: auto;
  font-family: 'Oswald', sans-serif;
  color: #fec051;
  font-weight: 700;
  letter-spacing: 1px;
}
.navbar > .enlace:hover{
  color: #da3611;
}

.bg{
  width: 100%;
  background-image: url("../img/back-nosotros.png");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mascara{
  background-color: rgba(240, 248, 255, 0.568);
  display: grid;
  grid-template-columns: minamx(250px, 1000px);
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 150px;
}
.mascara > h2{
  font-size: 30px;
  font-weight: 800;
  color: #420f3a;
  padding-bottom: 20px;
}
.mascara > p{
  font-size: 20px;
  font-weight: 800;
  color: #420f3a;
  padding-bottom: 60px;
}
.mascara > .info{
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 300px) );
  justify-content: center;
  gap: 30px;
}
.mascara > .info > .imagen{
  border-radius: 100%;
  border: 3px solid #da3611;
  padding:5px;
  filter: drop-shadow(0 2px 5px #030303cc );
}
.mascara > .info > .imagen > img{
  width: 100%;
  padding: 8px;
}
.mascara > .socios-clientes{
  display: grid;
  grid-template-columns: minmax(300px, 400px);
  gap: 80px;
  justify-content: center;
  margin-top: 50px;
  color: #420f3a;
  font-family: 'Montserrat', sans-serif ;
}
.mascara > .socios-clientes > .socios > img{
  width: 150px;
  border-radius: 100%;
  border: 3px solid #da3611;
  padding: 30px;
  filter: drop-shadow(0 2px 5px #030303cc );
}
.mascara > .socios-clientes > .socios > h4{
  font-weight: 600;
  border-bottom: 2px solid #420f3a;
}
.mascara > .socios-clientes > .socios > h5{
  margin-top: 30px;
  border: 2px solid #da3611;
  border-radius: 5px;
  padding: 10px;
  font-weight: 800;
}
.mascara > .info-zona{
  margin-top: 80px;
  color: #420f3a;
}
.mascara > .info-zona > h3{
  border: 2px solid #da3611;
  border-radius: 5px;
  padding: 10px;
  font-weight: 800
}
.mascara > .info-zona > img{
  width: 250px;
}


footer{
  background-color: #fec051;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer > div{
  color: #420f3a;
  font-family: 'Oswald', sans-serif;
}
footer > div > a{
  font-weight: 800;
  font-size: 20px;
  color: #420f3a;
}
footer > div > a:hover{
  color: #da3611;
}
@media only screen and (min-width: 680px) {
  #mascara > img {
    width: 400px;
    display: block;
}
@media only screen and (min-width: 882px) {
  #mascara > img {
    width: 85%;
  }
  .navbar {
    grid-template-columns: 10% 80% 10%;
  }
  .mascara > .info{
    grid-template-columns: repeat(3, minmax(250px, 300px) );
    gap: 30px;
  }
  .mascara > p{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .mascara > .info > .imagen{
    padding: 30px;
  }
  
  .mascara > .info > .imagen > img{
    width: 200px;
    padding: 20px;
  }
  .mascara > .socios-clientes{
    grid-template-columns: repeat(2, minmax(300px, 400px));
    gap: 80px;
    margin-top: 50px;
  }
  .mascara > .info-zona > img{
    width: 500px;
    
  }
  .mascara > .socios-clientes > .socios > img{
    width: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .mascara{
    padding-top: 200px;
  }
}
@media only screen and (min-width: 1900px) {
  .mascara{
    padding-top: 300px;
  }
}